<tbody ng-show="openFilter['##filterid##']">
	<!--<tr><td><strong>My Test List </strong></td><td><form class="form-inline">
			Send <select class="form-control input-sm" name="account"><option>Now</option><option>in 5 minutes</option><option>in 10 minutes</option><option>At HH:MM</option></select> to <select class="form-control input-sm" name="account"><option>
	<?php echo $email ?></option><option>Test list 1</option><option>Some other list</option><option>These email addresses: </option></select> and wait <select class="form-control input-sm" name="account"><option>1 minute</option><option>2 minutes</option><option>3 minutes</option><option>5 minutes</option><option>x minutes:</option></select> between steps</form></td><td><a class="btn btn-danger btn-bitbucket"><i class="fa fa-play-circle-o"></i> TEST THIS SEQUENCE NOW</a>
	<!--<input type="text" name="auCount"  id="auCount" value="" readonly></td></tr>-->
	<tr>
		<td>
			<strong><a data-pk="2" data-title="Email Name" data-type="text" data-url="" href="#" id="filter##filterid##Name"></a></strong>
			<!-- <small>
				<i class="fa fa-pencil" aria-hidden="true"></i>
			</small> -->
		</td>
		<td>
			<select chosen multiple placeholder-text-multiple="'Choose Your Lists...'" ng-model="filter##filterid##List" ng-options="s.contactID as s['LIST-NAME']+' ['+s['LIST-COUNT']+' people]' for s in audience.items" ng-change="ArrangeFilter('##filterid##')">
				<option value=""></option>
			</select>
			<span class="help-block m-b-none">Who are you sending to? Pick your targets for this sequence. </span>
			<br>
			<form class="form-inline">
				<div>
					<!-- Not sure why this needs to be here in order for the form below to be inline.  Huh?  -->
				</div>
			</form>
			<form class="form-inline" role="form">
				<div class="input-group form-group-sm"  ng-show="emailDone > 0">
					<!-- <label for="wait2"><i aria-hidden="true" class="fa fa-clock-o fa-lg"></i> Scheduled for Wednesday August 22, 2017</label><small>@ 3:30 PM PST</small><br> 													 -->
					<label for="wait2">
						<i aria-hidden="true" class="fa fa-clock-o fa-lg"></i> Start This Audience On:
					</label>
					<br>
					<div class="input-group form-group-sm">
						<input ng-disabled="disabledEmail['1']" type="datetime" class="form-control" date-time ng-model="campaign['EMAIL1-SCHEDULE##filterid##-DATE']" view="date" auto-close="true" min-view="date" format="MM/DD/YYYY" id="EMAIL1-SCHEDULE##filterid##-DATE" name="EMAIL1-SCHEDULE##filterid##-DATE" ng-change="dateChange('##filterid##')" required="">
						<span id="datespan1-##filterid##" class="input-group-addon" onclick="showcalendar('##filterid##');">
							<i class="fa fa-calendar"></i>
						</span>
					</div>
					<div class="input-group form-group-sm clockpicker" clock-picker data-autoclose="true" data-placement="left" data-align="top">
						<input ng-disabled="disabledEmail['1']" type="text" class="form-control" id="EMAIL1-SCHEDULE##filterid##-TIME" name="EMAIL1-SCHEDULE##filterid##-TIME" placeholder="" type="text" ng-model="campaign['EMAIL1-SCHEDULE##filterid##-TIME']" ng-change="dateChange('##filterid##')" required="">
						<span id="clockspan1-##filterid##" class="input-group-addon">
							<span class="fa fa-clock-o"></span>
						</span>
					</div>
								<!-- I would prefer if we pull this from global settings and not require the User to enter it everytime
								<div class="input-group form-group-sm">
									<select ng-disabled="disabledEmail['1']" class="form-control" id="EMAIL1-SCHEDULE1-TIMEZONE" name="EMAIL1-SCHEDULE1-TIMEZONE" ng-model="campaign['EMAIL1-SCHEDULE1-TIMEZONE']" ng-change="dateChange('')" required="">
										<option value="Pacific Standard Time" >PST</option>
										<option value="Mountain Standard Time">MST</option>
										<option value="Central America Standard Time">CST</option>
										<option value="Eastern Standard Time">EST</option>
									</select>
								</div>
								-->
					<div class="hr-line-dashed"></div>
					<div class="input-group form-group-sm">
						<a href="#boomerang" data-toggle="collapse"><mark style="background-color: dark-yellow;"><strong><i aria-hidden="true" class="fa fa-lightbulb-o"></i> TIP: Boomerang this Audience for More Results</strong></mark><small> Boomerang allows you to easily repeat this schedule.</small></a>
						<div class="collapse" id="boomerang">
							<br>
							<div class="input-group form-group-sm">
								<form class="form-inline">
									Wait 
									<div class="input-group form-group-sm">
										<select class="form-control input-sm" placeholder-text-single="'Pick a sender (replies go here too)'">
											<option>2</option>
											<option>3</option>
											<option>4</option>
										</select>
									</div> weeks then send again to all non-openers in this Audience.  Repeat 
									<div class="input-group form-group-sm">
										<select class="form-control input-sm" placeholder-text-single="'Pick a sender (replies go here too)'">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
										</select>
									</div> time(s).<br>
								</form>
							</div>
						</div>
					</div>
				</div>
			</form>
		</td>
		<td>
			<div ng-show="campaign.filter##filterid##Count > 0" class="widget  p-lg text-center" style="padding-bottom: 0px;padd-top: 0px;margin-bottom: 0px;padding-top: 0px;margin-top: 0px;">
				<div class="m-b-md" style="margin-bottom: 0px;">
					<i class="fa fa-user-circle-o fa-4x" ng-style="{'color': campaign.filter##filterid##Count > 0 ? 'green': ''}"></i>
					<h1 class="m-xs">{{campaign.filter##filterid##Count | number}}</h1>
					<h3 class="font-bold no-margins">People</h3>
					<small>In this Schedule</small>
				</div>
			</div>
			<!--<small class="label label-primary" name="auCount"  id="auCount"><i class="fa fa-users"></i> 16 people</small>-->
			<!--<input type="text" name="auCount"  id="auCount" value="" readonly>-->
		</td>
		<td style="vertical-align:middle">
			<!--showF1-->
			<button class="btn btn-primary" ng-click="Save('Step3')">
				<i class="fa fa-floppy-o" ng-show="state['Save'] == 'Save'"></i>
				<span ng-show="state['Save'] == 'Saving'">
					<i class="glyphicon glyphicon-refresh spinning"></i>
				</span> {{state['Save']}} 
			</button>
			<!--showF1-->
		</td>
	</tr>
	<tr>
		<td>
		<!--hideF3-->
			<a class="btn btn-white btn-bitbucket" ng-click="showFilter('##nextfilterid##')" ng-show="!openFilter['##nextfilterid##']">
				<i class="fa fa-group"></i> Add Another Audience
			</a>
		<!--hideF3-->
		</td>
		<td></td>
		<td></td>
	</tr>
</tbody>