<div class="mail-box-header" ng-show="openEmail['##emailid##']">
	<div class="pull-right tooltip-demo">
		<button class="btn btn-primary" ng-click="Save('Email##emailid##')"><i class="fa fa-floppy-o" ng-show="state['Save'] == 'Save'"></i><span ng-show="state['Save'] == 'Saving'"><i class="glyphicon glyphicon-refresh spinning"></i></span> {{state['Save']}} Email</button><a class="btn btn-white" data-placement="top" data-toggle="tooltip" title="Leave without saving" ng-click="Cancel()"><i class="fa fa-ban"></i> Cancel</a> 
	</div>
	<h3>Subject: <a data-pk="2" data-title="Email Name" data-type="text" data-url="" href="#" id="subjectEmail##emailid##"></a></h3>
</div>	

<div class="row" ng-show="openEmail['##emailid##']">
	<div class="col-lg-4">
		<div class="ibox-content">
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-12">
						<div>Select who this email is from. Once you've picked a template, roll over areas of the email template to see what you can edit. Things like your logo and footer are pulled from <strong>Settings</strong>.</div>
						<label class="control-label">From</label>
						<div>
							<select chosen placeholder-text-single="'Pick a sender (replies go here too)'" ng-model="campaign['TEXT-LINE-ACCTID-PROGRAMID-FROMEMAIL']" ng-change="sendersChanged('textSender##emailid##')" style="height: 30px;" ng-options="x.email as x.name + ' (' + x.email + ')' for x in senders"></select>
							<p></p>
						</div>
						<label class="control-label">Template</label>
						<div>
							<select chosen placeholder-text-single="'Pick a Template'" ng-model="campaign.templateEmail##emailid##" ng-change="SelectChanged('viewEmail##emailid##','templateEmail##emailid##')" style="width: 100%;height: 30px;" ng-options="x.content as x.title for x in templatesAs##emailid##">
								<option value=""></option> <!-- Needs this otherwise gets funky.  Known angular issue -->
							</select>
							<p></p>
						</div>
						<label class="control-label">Hero Image</label>
						<div>
							<a ng-model="file" ngf-select="upload($file,'##emailid##')" href="" class="btn btn-default btn-file" data-toggle="tooltip" data-placement="top" title="Upload and replace this email's hero image."><span ng-show="state['Upload##emailid##'] == 'Uploading'"><i class="glyphicon glyphicon-refresh spinning"></i></span><i class="fa fa-cloud-upload" ng-show="state['Upload##emailid##'] != 'Uploading'"></i> Upload new image ...</a>																				
							<a ng-model="file" ngf-select="upload($file,'##emailid##')" href="" class="btn btn-default btn-file" data-toggle="tooltip" data-placement="top" title="Choose an image from your Asset Library."><span ng-show="state['Upload##emailid##'] == 'Uploading'"><i class="glyphicon glyphicon-refresh spinning"></i></span><i class="fa fa-globe" ng-show="state['Upload##emailid##'] != 'Uploading'"></i> Pick from Asset Library</a>																				
						</div>
						<div class="hr-line-dashed"></div>
						<label class="control-label">Send a Test Message</label>
						<div style="overflow: hidden; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;"></div>
						<div style="width:100%;height:30px;">
							<div style="width: calc(100% - 25px); float: left;">
								<select chosen placeholder-text-single="'Pick a person'" ng-model="sendTestContactSelected" style="height: 30px;" ng-options="x[0] as x[1] + ' ' + x[2] + ' (' + x[3] + ') ' for x in sendTestContacts | orderBy:'1'">
								<option value=""></option> <!-- Needs this otherwise gets funky.  Known angular issue -->
								</select>
							</div>
							<a ng-click="OpenRegister()" data-toggle="tooltip" data-placement="top" title="Add another person to your seed list.  They'll show up here going forward." style="float: right;"><i class="fa fa-plus-circle fa-2x" style="color:green;float:right;"></i></a>
						</div>
				
						<label class="control-label"></label>
						<a ng-click="SendTest(##emailid##)" href="" class="btn btn-success btn-block" data-toggle="tooltip" data-placement="top" title="After you select someone from the list, press this button and I'll send you the email."><span ng-show="state['SendTest##emailid##'] == 'Sending'"><i class="glyphicon glyphicon-refresh spinning"></i></span><i class="fa fa-share-square-o" ng-show="state['SendTest##emailid##'] != 'Sending'"></i> Send</a>
					</div>
				</div> <!-- form-group -->
			</form>
		</div> <!-- ibox-content -->
	</div> <!-- col-lg-4 -->
	<div class="col-lg-8">
		<div class="ibox-content">
			<div class="window">
				<div class="titlebar">
					<div class="buttons">
						<div class="close"></div>
						<div class="minimize"></div>
						<div class="zoom"></div>
					</div><small><span id="textSender##emailid##">New Email from:</span></small> <!-- window title -->
				</div>
				<div class="content">
					<div class="template_preview">
						<div id="viewEmail##emailid##"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
