<html>

<body>
	<style type="text/css">
		.close1 {
			float: right;
			font-size: (@font-size-base * 1.5);
			font-weight: @close-font-weight;
			line-height: 1;
			color: @close-color;
			text-shadow: @close-text-shadow;
			.opacity(.2);
			&:hover,
			&:focus {
				color: @close-color;
				text-decoration: none;
				cursor: pointer;
				.opacity(.5);
			} // Additional properties for button version
			// iOS requires the button element instead of an anchor tag.
			// If you want the anchor version, it requires `href="#"`.
			// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
			button& {
				padding: 0;
				cursor: pointer;
				background: transparent;
				border: 0;
				-webkit-appearance: button;
			}
		}
	</style>

	<!-- Dave starts here -->
	<div ng-controller="myNewCtrl" id="myNewCtrl">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>Create a New Segment
							<small></small>
						</h5>
						<div ibox-tools></div>
					</div>
					<div class="ibox-content">
						<form id="idForm" method="get" name="idForm" class="form-horizontal">
							<input type="hidden" id="tmpFilter" name="tmpFilter" value="">
							<input type="hidden" id="tmpCount" name="tmpCount" value="">
							<div class="form-group"><label class="col-sm-2 control-label">Segment Name</label>

								<div class="col-sm-10"><input type="text" class="form-control" name="LISTNAME" id="LISTNAME" ng-model="item['LIST-NAME']" required></div>
							</div>
							<div class="form-group"><label class="col-sm-2 control-label">Description</label>

								<div class="col-sm-10"><input type="text" class="form-control" name="LISTDESCRIPTION" id="LISTDESCRIPTION" ng-model="item['LIST-DESCRIPTION']"> <span class="help-block m-b-none">This will help you remember this Segment's definition later.</span>
								</div>
							</div>
							<div class="hr-line-dashed"></div>
							<div class="form-group"><label class="col-sm-2 control-label"><i class="fa fa-filter" aria-hidden="true"></i> Filters<br>
                            <small class="text-navy">Who Do You Want In This Segment?</small>
                        </label>
								<div class="col-sm-10">
									
									<div id="filterDiv">
										<div>
											<label>I want Contacts that match:</label>
										</div>
										<div><input type="radio" name="joinrow" id="joinrowand" value="and"> ALL of the below criteria</div>
										<div><input type="radio" name="joinrow" id="joinrowor" value="or"> ANY of the below criteria</div>

										<div class="table-responsive">
											<table id="filterTable" class="table table-striped table-bordered ">
												<thead>
													<tr>
														<th></th>
														<th>Search by</th>
														<th></th>
														<th></th>
														<th></th>
													</tr>
												</thead>
												<tbody>
												</tbody>
												
											</table>

											<div class="table-responsive text-center" style="border: dashed 1px lightgrey;">
												<button id='addRow' onclick="AddRow();" class="btn btn-link">+ Add a Condition</button>
												<!--<button id='addRow' onclick="AddRow();" class="btn btn-default">+ Add a Condition</button><br><br>-->
												
											</div>

											<div style="display:none;">
											<textarea class="form-control" id="LISTDEFINITION" name="LISTDEFINITION" rows="3" ng-model="item['LIST-DEFINITION']"></textarea>												
											</div>
										</div>


										</div>

									</div>
								</div>
							<div class="hr-line-dashed"></div>
							<div class="form-group">
									<div class="col-sm-12 col-sm-offset-2">
								<button class="btn btn-danger" name="okFilter" value="okFilter" onclick="okFilterClick('new');">See How Many Contacts Match This Filter</button>
												<div id="altCnt">
												
												<small>This Segment contains <label id="cntLabel"></label> Contact(s)</small>
											</div>
											<input type="hidden" id="itemCount" name="itemCount" value="">
									</div>
								</div>
							<div>

							</div>
							<div class="hr-line-dashed"></div>
							<div class="form-group">
									<div class="col-sm-3 col-sm-offset-2">
										<input type="hidden" name="contactDetail" id="contactDetail" value="Engagement Rate: TBD">
										<input type="hidden" name="LISTIDHASH" id="LISTIDHASH" value="">
										<input type="hidden" name="LISTCOUNT" id="LISTCOUNT" ng-model="item['LIST-COUNT']" value="0">
										<button class="btn btn-primary" ng-click="Save()"><i class="fa fa-floppy-o" ng-show="state['Save'] != 'Saving'"></i><span ng-show="state['Save'] == 'Saving'"><i class="glyphicon glyphicon-refresh spinning"></i></span> Save</button>
										<button class="btn btn-white" ng-click="cancel()"><i class="fa fa-ban"></i> Cancel</button>
									</div>
								</div>

						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- Dave ends here.  Or does he? -->

	<!-- Coa from here down -->
	<!--
	<div ng-controller="myNewCtrl" id="myNewCtrl">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">

						<form id="idForm_COA" name="idForm_COA" class="form-horizontal">
							<input type="hidden" id="tmpFilter" name="tmpFilter" value="">
							<input type="hidden" id="tmpCount" name="tmpCount" value="">
							<div class="form-group"><label class="col-sm-2 control-label">Segment Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="My tradeshow leads and booth scans" name="LISTNAME" id="LISTNAME" ng-model="item['LIST-NAME']" required>
									<span class="help-block m-b-none">This is what appears in your targeting options.  Make it memorable.</span>
								</div>
							</div>

							<div class="tab-content">
								<div id="tab-1" class="tab-pane active">
									<div class="panel-body"></div>
								</div>
							</div>

							<div class="form-group"><label class="col-sm-2 control-label">Description</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="These are the leads I scanned at the last tradeshow" name="LISTDESCRIPTION" id="LISTDESCRIPTION" ng-model="item['LIST-DESCRIPTION']">
									<span class="help-block m-b-none">Give yourself a little reminder.  You're sure not getting any younger.</span>
								</div>
							</div>

							<div class="tab-content">
								<div id="tab-1" class="tab-pane active">
									<div class="panel-body"></div>
								</div>
							</div>

							<div class="form-group" style="display:none;"><label class="col-sm-2 control-label">List Definition</label>
								<div class="col-sm-10">
									<div>
										<textarea class="form-control" id="LISTDEFINITION" name="LISTDEFINITION" rows="3" ng-model="item['LIST-DEFINITION']"></textarea>
									</div>
								</div>
							</div>

							<div class="tab-content">
								<div id="tab-1" class="tab-pane active">
									<div class="panel-body"></div>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-2 col-sm-offset-2">
									<button class="btn btn-danger" name="setFilter" value="setFilter" onclick="FilterClick()"><i class="fa fa-filter"></i> Show Filter</button>
								</div>
								<div class="col-sm-8 wrapper border-bottom white-bg page-heading" id="filterDiv" style="display:none;">
									<button id='addRow' onclick="AddRow();" class="btn btn-outline btn-danger">New Search Criteria</button><br><br>
									<input type="radio" name="joinrow" id="joinrowand" value="and">Match all of the Search criterial below<br>
									<input type="radio" name="joinrow" id="joinrowor" value="or">Match any one of the search criteria below

									<div class="table-responsive">
										<table id="filterTable_COA" class="table table-striped table-bordered ">
											<thead>
												<tr>
													<th></th>
													<th>Search by</th>
													<th></th>
													<th></th>
													<th></th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>

										<div class="col-sm-3">
											<button class="btn btn-danger" name="okFilter" value="okFilter" onclick="okFilterClick('new');">Check Count</button>
										</div>
										<div class="col-sm-6 alert-info" style="padding-top:5px;display:none" id="altCnt">
											<button aria-hidden="true" data-dismiss="alert1" class="close1" type="button" onclick="$('#altCnt').hide();" style="border:transparent;">x</button>
											<h3><label id="cntLabel"></label> Contact(s) found</h3>
										</div>
										<input type="hidden" id="itemCount" name="itemCount" value="">
									</div>

								</div>

								<div class="tab-content">
									<div id="tab-1" class="tab-pane active">
										<div class="panel-body"></div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-3 col-sm-offset-2">
										<input type="hidden" name="contactDetail" id="contactDetail" value="Engagement Rate: TBD">
										<input type="hidden" name="LISTIDHASH" id="LISTIDHASH" value="">
										<input type="hidden" name="LISTCOUNT" id="LISTCOUNT" ng-model="item['LIST-COUNT']" value="0">
										<button class="btn btn-primary" ng-click="Save()"><i class="fa fa-floppy-o" ng-show="state['Save'] != 'Saving'"></i><span ng-show="state['Save'] == 'Saving'"><i class="glyphicon glyphicon-refresh spinning"></i></span> Save</button>
										<button class="btn btn-white" ng-click="cancel()"><i class="fa fa-ban"></i> Cancel</button>
									</div>
								</div>

						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		-->
		<!-- End of Coa -->

			<script>
			$(document).ready(function() {
				FilterClick();
			});
		</script>
		
</body>

</html>