<html>
<body>
<style type="text/css">
	.close1 {
	  float: right;
	  font-size: (@font-size-base * 1.5);
	  font-weight: @close-font-weight;
	  line-height: 1;
	  color: @close-color;
	  text-shadow: @close-text-shadow;
	  .opacity(.2);

	  &:hover,
	  &:focus {
		color: @close-color;
		text-decoration: none;
		cursor: pointer;
		.opacity(.5);
	  }

	  // Additional properties for button version
	  // iOS requires the button element instead of an anchor tag.
	  // If you want the anchor version, it requires `href="#"`.
	  // See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
	  button& {
		padding: 0;
		cursor: pointer;
		background: transparent;
		border: 0;
		-webkit-appearance: button;
	  }
}

</style>
<div ng-controller="myCtrl" id="myCtrl">
        <div class="row wrapper">
            <div class="col-lg-10">
                <p style="font-size: 24px;font-weight:100;">Edit List: "{{item['LIST-NAME']}}" [<label id="cntclick">{{item['LIST-COUNT']}}</label> People]</p>								
            </div>					
        </div>        	

        <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">                        
                        <div class="ibox-content">
						      <form id="idForm" name="idForm">
								<input type="hidden" id="tmpFilter" name="tmpFilter" value="" >
								<input type="hidden" id="tmpCount" name="tmpCount" value="" >
								<div class="form-group"><label class="col-sm-2 control-label">List Name</label>
                                    <div class="col-sm-10">								
									<input type="text" class="form-control" placeholder="You want some cool stuff?" name="LISTNAME" ng-model="item['LIST-NAME']" required><!-- <span ng-show="idForm.LISTNAME.$touched && idForm.LISTNAME.$invalid" style="color:red;">List Name is required.</span> -->
									<span class="help-block m-b-none">This is what appears in your targeting options.  Make it memorable.</span>
                                    </div>
                                </div>

								 <div class="tab-content"><div id="tab-1" class="tab-pane active"><div class="panel-body"></div></div></div>
	
                                <div class="form-group"><label class="col-sm-2 control-label">Description</label>
                                    <div class="col-sm-10">
									<input type="text" class="form-control" placeholder="Describe your list for easy future reference" name="LIST-DESCRIPTION" ng-model="item['LIST-DESCRIPTION']">
									<span class="help-block m-b-none">Give yourself a little reminder.  You're sure not getting any younger.</span>
                                    </div>
                                </div>

								 <div class="tab-content"><div id="tab-1" class="tab-pane active"><div class="panel-body"></div></div></div>

                                <div class="form-group" style="display:none;"><label class="col-sm-2 control-label">List Definition</label>
                                    <div class="col-sm-10">
                                        <div>
                                        <textarea class="form-control" id="LISTDEFINITION" name="LISTDEFINITION" rows="3" ng-model="item['LIST-DEFINITION']"></textarea>
                                        </div>                                    
                                    </div>
                                </div>

								 <div class="tab-content"><div id="tab-1" class="tab-pane active"><div class="panel-body"></div></div></div>

                                <div class="form-group">
                                    <div class="col-sm-2 col-sm-offset-2">                                        
										<button class="btn btn-danger" name="setFilter" value="setFilter" onclick="FilterClick()">Show Filter</button>
                                    </div>
									<div class="col-sm-8 wrapper border-bottom white-bg page-heading" id="filterDiv" style="display:none;">
										<button id='addRow' onclick="AddRow();" class="btn btn-outline btn-danger">New Search Criteria</button><br><br>
										<input type="radio" id="joinrowand" name="joinrow" id="joinrowand" value="and" >Match all of the Search criterial below<br>
										<input type="radio" id="joinrowor" name="joinrow" id="joinrowor" value="or" >Match any one of the search criteria below
										<div class="table-responsive">
												<table id="filterTable" class="table table-striped table-bordered " >
												<thead>
												<tr>
													<th></th>
													<th>Search by</th>
													<th></th>
													<th></th>
													<th></th>
												</tr>
												</thead>
												<tbody>
												</tbody>
											</table>
										
										
											<div class="col-sm-3">														
													<button class="btn btn-danger" name="okFilter" value="okFilter" onclick="okFilterClick();">Check Count</button>
											</div>
											<div class="col-sm-6 alert-info" style="padding-top:5px;display:none" id="altCnt">
													<button aria-hidden="true" data-dismiss="alert1" class="close1" type="button" onclick="$('#altCnt').hide();" style="border:transparent;">x</button>
													<h3><label id="cntLabel"></label> Contact(s) found</h3>
											</div>										
											<input type="hidden" id="itemCount" name="itemCount" value="" >												

									</div> 
								</div>

								 <div class="tab-content"><div id="tab-1" class="tab-pane active"><div class="panel-body"></div></div></div>
								
								<div class="form-group">
                                    <div class="col-sm-3 col-sm-offset-2">                                       
                                        <input type="hidden" name="LISTID-HASH" value="{{item['LISTID-HASH']}}">
										<input type="hidden" name="LIST-COUNT" ng-model="item['LIST-COUNT']">
										<button class="btn btn-primary" ng-click="Save()">Save</button>
                                        <button class="btn btn-white" ng-click="cancel()">Cancel</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>        
</div><!-- myCtrl -->
</body>
</html>
