<div ng-controller="myNewCtrl" id="myNewCtrl">

			<div class="mail-box-header">
    			<div class="pull-right tooltip-demo">
    			    <a class="btn btn-white" data-placement="top" data-toggle="tooltip" href="formLibrary.php" title="Leave without saving"><i class="fa fa-ban"></i> Cancel</a> <button class="btn btn-primary" name="action" type="submit" value="saveEmail" ng-click="SaveNewForm();"><i class="fa fa-floppy-o"></i> Save Form</button>
    			</div>			
    		    <h3>Form Template: <select id="selectForm" ng-model="selectedForm" ng-change="SelectChanged(this.selectedForm)" ng-cloak>
					<option ng-repeat="x in deflist.items" value="{{x.defaultID}}" selected={{x.formSelected}}>{{x.defFormName}}</option>					
				</select>
				</h3>
			</div>	<!-- mail-box-header -->

			<div class="wrapper wrapper-content animated fadeInRight">
				<div class="row">
					<div class="col-lg-4">
						<div class="ibox">
							<div class="ibox-content">
								<h3>Available Contact Fields</h3>
								<p class="small"><i class="fa fa-hand-o-up"></i> Drag from here to your form, or back again.</p>
								<ul class="sortable-list connectList agile-list" id="available_fields" >
									<li class="info-element" id="{{d.fieldID}}" ng-repeat="d in defItem" ng-cloak>{{d.fieldName}}
										<div class="agile-detail">
											<a class="pull-right btn btn-xs btn-white" href="#!/new" data-toggle="modal" data-target="#{{d.fieldID}}Modal"><i class="fa fa-cog"></i> Settings</a>
											<small ng-if="d.fieldType=='textbox'"><i class="fa fa-pencil-square-o"></i> Text line</small>
											<small ng-if="d.fieldType=='email'"><i class="fa fa-envelope"></i> Text line</small>											
											<small ng-if="d.fieldType=='phone'"> <i class="fa fa-phone"></i> US Phone #</small>
											<small ng-if="d.fieldType=='mobile'"> <i class="fa fa-mobile"></i> US Phone #</small>
											<small ng-if="d.fieldType=='dropdown'"> <i class="fa fa-caret-square-o-down"></i> Drop-down List</small>
											<small ng-if="d.fieldType=='hidden'"> <i class="fa fa-user-secret"></i> Hidden Field</small>
											<small ng-if="d.fieldType=='datetime'"> <i class="fa fa-calendar"></i> Datetime</small>	
										</div>
										<div class="modal inmodal fade" id="{{d.fieldID}}Modal" tabindex="-1" role="dialog"  aria-hidden="true">
											<div class="modal-dialog modal-sm">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
														<h4 class="modal-title">Field Settings For: {{d.fieldName}}</h4>
													</div>													
													<div class="modal-body">
														<input type="hidden" id="{{d.fieldID}}FieldName" value="{{d.fieldName}}">
														<input type="hidden" id="{{d.fieldID}}FieldType" value="{{d.fieldType}}">
														<p>Label: <input type="text" id="{{d.fieldID}}Label" value="{{d.label}}"></p>
														<p>Required?: <select id="{{d.fieldID}}Require" ng-model="d.required"><option value="Yes">Yes<option value="No" selected>No</select></p>
														<p>Pre-fill if already known or Don't display if known : <select  id="{{d.fieldID}}Prefill"><option value="Yes">Yes<option value="No" selected>No</select></p>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-white" data-dismiss="modal" onclick="reloadformfield('new')">Close</button>
														<!-- <button type="button" class="btn btn-primary" ng-click="">Save changes</button> -->
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul> 

								<div class="input-group">
                                    <input type="text" placeholder="Add a Field. " class="input input-sm form-control">
                                    <span class="input-group-btn">
                                            <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-plus"></i> Add Field</button>
                                    </span>
                                </div>								
							</div>
						</div>
					</div><!-- col-lg-4 -->
					<div class="col-lg-4">
						<div class="ibox">
						    <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                 <h5>Form Name: <input type="text" name="frmName" id="frmName" ng-model="listName" required><br>
								 <span class="listNameAlt" style="color:red;"></span>
								 </h5>                                   
                                </div>
                            
							<div class="ibox-content">
								<p class="small"><i class="fa fa-hand-o-up"></i> Re-order your fields, or pull them to the left to remove them.</p>
								<ul class="sortable-list connectList agile-list" id="form_fields">									
									<li class="success-element"  id="{{s.fieldID}}" ng-repeat="s in selectItem" ng-cloak>{{s.fieldName}}<!-- <small ng-if="s.required=='Yes'"> <i aria-hidden="true" class="fa fa-star-o" style="color:red"></i></small> -->
										<div class="agile-detail">
											<a class="pull-right btn btn-xs btn-white" href="#!/new" data-toggle="modal" data-target="#{{s.fieldID}}Modal"><i class="fa fa-cog"></i> Settings</a>
											<small ng-if="s.fieldType=='textbox'"><i class="fa fa-pencil-square-o"></i> Text line</small>
											<small ng-if="s.fieldType=='email'"><i class="fa fa-envelope"></i> Text line</small>											
											<small ng-if="s.fieldType=='phone'"> <i class="fa fa-phone"></i> US Phone #</small>
											<small ng-if="s.fieldType=='mobile'"> <i class="fa fa-mobile"></i> US Phone #</small>
											<small ng-if="s.fieldType=='dropdown'"> <i class="fa fa-caret-square-o-down"></i> Drop-down List</small>
											<small ng-if="s.fieldType=='hidden'"> <i class="fa fa-user-secret"></i> Hidden Field</small>
											<small ng-if="s.fieldType=='datetime'"> <i class="fa fa-calendar"></i> Datetime</small>											
										</div>
										<div class="modal inmodal fade" id="{{s.fieldID}}Modal" tabindex="-1" role="dialog"  aria-hidden="true">
											<div class="modal-dialog modal-sm">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
														<h4 class="modal-title">Field Settings For: {{s.fieldName}}</h4>
													</div>													
													<div class="modal-body">
														<input type="text" id="{{s.fieldID}}FieldName" value="{{s.fieldName}}" style="display:none;">
														<input type="text" id="{{s.fieldID}}FieldType" value="{{s.fieldType}}" style="display:none;">
														<input type="text" id="{{s.fieldID}}Req" value="{{s.required}}" style="display:none;">
														<input type="text" id="{{s.fieldID}}Prepop" value="{{s.prepopulated}}" style="display:none;">
														<p>Label: <input type="text" id="{{s.fieldID}}Label" value="{{s.label}}"></p>
														<p>Required?: <select id="{{s.fieldID}}Require"><option value="Yes">Yes<option value="No" >No</select></p>
														<p>Pre-fill if already known or Don't display if known : <select  id="{{s.fieldID}}Prefill"><option value="Yes">Yes<option value="No">No</select></p>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-primary" data-dismiss="modal"  onclick="reloadformfield('new')">Close</button>
														<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							</div>
						</div>
					</div><!-- col-lg-4 -->
					
					<div class="col-lg-4">
						<div class="ibox">
							<div class="ibox-content">
								<h3>Preview & Edit Labels & Text</h3>
								
								<div class="well">
												<style type="text/css">.input-sm{ border: 1px solid #ccc;}</style>
												<form action="/send?a=download" id="rzForm" method="post" name="rzForm" novalidate="">
													<fieldset>													
															<div><p class="lead">Download your eBook:</p></div>
															<div id="summerblock">													
															</div><!-- end summer bind -->
															<button class="btn btn-lg btn-block btn-warning" type="submit">Download Now!</button>
															<div>
																<p class="rz-required-note" style="text-align: right;"><i><div>* Indicates a required field.<br>
																Answer all required fields to activate the button.</div></i></p>
															</div>
													</fieldset>
												</form>	
								</div>
							</div>
						</div>
					</div><!-- col-lg-4 -->				
				</div><!-- row -->
			</div><!-- fadeInRight -->                 
</div><!-- myNewCtrl -->

<script>
$(document).ready(function(){			

	           $("#available_fields, #form_fields, #completed").sortable({
	               connectWith: ".connectList",
	               update: function( event, ui ) {

	                   var available_fields = $( "#available_fields" ).sortable( "toArray" );
	                   var form_fields = $( "#form_fields" ).sortable( "toArray" );
	                   var completed = $( "#completed" ).sortable( "toArray" );			
					   						
						var summerdivtxt = ''; 				//display right block 

						var tempArr=[]; 
						for(i=0;i<form_fields.length;i++){									
							var fFieldName = $(document.getElementById(form_fields[i]+"FieldName")).val();	
							var fFieldType = $(document.getElementById(form_fields[i]+"FieldType")).val();	
							var flabel = $(document.getElementById(form_fields[i]+"Label")).val();	
							var frequire = $(document.getElementById(form_fields[i]+"Require")).val();	
							var fprefill = $(document.getElementById(form_fields[i]+"Prefill")).val();	
							//add array
							tempArr.push({"fieldID":form_fields[i], "fieldName":fFieldName, "label": flabel,"required": frequire,"prepopulated": fprefill,"fieldType": fFieldType }); 
							summerdivtxt += getFormCode("textbox",form_fields[i],fFieldName,flabel,frequire,fprefill,""); 	

						}//end for i
						angular.element(document.getElementById('myNewCtrl')).scope().MyCopyItem('fieldLists',tempArr);
						angular.element(document.getElementById('myNewCtrl')).scope().CopyScope('tempArr',tempArr);
	                    $('.output').html(" form_fields = "+form_fields);							
						$('#summerblock').html(summerdivtxt); 		
	               }
	           }).disableSelection();			 

}); // end document.ready(); 

</script>