<!DOCTYPE html>
<!--[if IE 8 ]> <html lang="en-US"  class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en-US"  class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-US">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>{{URL-eBOOK-NAME}}</title>
[[REMOVE 
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://www.mindfireinc.com/static/styles/bootstrap-cosmo.css" rel="stylesheet" type="text/css">
	<link href="https://www.mindfireinc.com/static/styles/app.css" rel="stylesheet" type="text/css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://www.mindfireinc.com/static/styles/bootstrap-cosmo.css" rel="stylesheet" type="text/css">
	<link href="https://www.mindfireinc.com/static/styles/app.css" rel="stylesheet" type="text/css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css" rel="stylesheet">
	<link rel="icon" href="{{RAW defCompanyLogo}}" type="image/x-icon" />	
	<style>
		body {
			margin-bottom: 120px;
		}

		.footer {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			min-height: 60px;
			background-color: #333333;
			padding-top: 20px;
			padding-bottom: 20px;
			margin-top: 10px;
		}
	</style>
	<script async defer src="https://apis.google.com/js/platform.js">
	</script>
	<script src="https://www.mindfireinc.com/static/scripts/jquery.js" type="text/javascript">
	</script>
	<script src="https://www.mindfireinc.com/static/scripts/angular.js" type="text/javascript">
	</script>
	<script src="https://www.mindfireinc.com/static/scripts/bootstrap.js" type="text/javascript">
	</script>
	<script src="https://www.mindfireinc.com/static/scripts/ui-bootstrap-tpls.js" type="text/javascript">
	</script>
	<script src="https://www.mindfireinc.com/static/scripts/angular-social-links.js" type="text/javascript">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
]]
</head>

<body>
	<div id="topbar">
		<div class="container">
			<p class="pull-right">Contact: ##defCompanyPhone##</p>
		</div>
	</div>
	<div class="clearfix"></div>
	<!-- Static navbar -->
	<div class="navbar navbar-default navbar-static-top" id="navbar" role="navigation">
		<div class="container">
			<a class="navbar-brand" href="/"><img src="{{RAW defCompanyLogo}}" width="200px"></a>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<span class="label label-warning pull-right">Free eBook</span>
				<h1>
					<div class="hover">{{RAW SUMMERNOTE(LANDINGPAGE-TOP-TEXT)}}</div>
				</h1>
				<div class="hover">{{RAW SUMMERNOTE(LANDINGPAGE-HERO-IMAGE)}}</div><br>
				<h3>
					<div class="hover">{{RAW SUMMERNOTE(LANDINGPAGE-BODY-TEXT)}}</div>
				</h3>
			</div>
			<div class="col-md-4">
				<div class="well">
					<br> {{RAW SUMMERNOTE(LANDINGPAGE-FORM)}}
				</div>
			</div>
		</div>
	</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p class="text-muted text-center" style="font-size: .75em">Copyright ##defCompanyName##&reg; • All Rights Reserved • ##defCompanyAddress##</span></p>
		</div>
	</div>
</div>
</body>
</html>