<!DOCTYPE html>
<!--[if IE 8 ]> <html lang="en-US"  class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en-US"  class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="MindFireInc" name="author">
	<meta content="marketing automation case study, digital marketing campaign case studies, marketing automation ebook" name="keywords">
	<meta content="As a first-time exhibitor in the Ruby Pavilion at Dscoop Phoenix, Silicon Publishing hit a home run in its first at-bat. Download the Case Study now to learn how they did it!" name="description">
	<meta content="Silicon Publishing Exceeds Expectations at Dscoop Phoenix using MindFire Marketing Automation Platform" property="og:title">
	<meta content="MindFire Studio" property="og:site_name">
	<meta content="[[absoluteUrl]]" property="og:url">
	<meta content="As a first-time exhibitor in the Ruby Pavilion at Dscoop Phoenix, Silicon Publishing hit a home run in its first at-bat. Download the Case Study now to learn how they did it!" property="og:description">
	<meta content="https://s3-us-west-1.amazonaws.com/mfimarketing/images/Screen+Shot+2017-04-20+at+9.42.04+AM.png" property="og:image">
	<meta content="summary_large_image" name="twitter:card">
	<meta content="@mindfireinc" name="twitter:site">
	<meta content="@RaminZamani" name="twitter:creator">
	<meta content="Silicon Publishing Exceeds Expectations at Dscoop Phoenix using MindFire Marketing Automation Platform" name="twitter:title">
	<meta content="As a first-time exhibitor in the Ruby Pavilion at Dscoop Phoenix, Silicon Publishing hit a home run in its first at-bat. Download the Case Study now to learn how they did it!" name="twitter:description">
	<meta content="https://s3-us-west-1.amazonaws.com/mfimarketing/images/Screen+Shot+2017-04-20+at+9.42.04+AM.png" name="twitter:image:src">
	<title>Marketing Automation Case Study: Silicon Publishing Exceeds Expectations at Dscoop Phoenix using MindFire Marketing Automation Platform - MindFire Studio</title>
    [[REMOVE 
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="http://www.mindfireinc.com/static/styles/bootstrap-cosmo.css" rel="stylesheet" type="text/css">
	<link href="http://www.mindfireinc.com/static/styles/app.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="font-awesome/css/font-awesome.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<script src="js/jquery-3.1.1.min.js"></script>   
	<script src="js/plugins/datapicker/bootstrap-datepicker.js"></script>
	<link href="css/plugins/datapicker/datepicker3.css" rel="stylesheet">
		]]
	<style>
	   body {
	     margin-bottom: 120px;
	   }
	   .footer {
	     position: absolute;
	     bottom: 0;
       left: 0;
       right: 0;
       min-height: 60px;
	     background-color: #333333;
	     padding-top: 20px;
	     padding-bottom: 20px;
	     margin-top: 10px;
	   }
	</style>
	[[REMOVE 
	<script async defer src="https://apis.google.com/js/platform.js">
	</script>
	<script src="http://www.mindfireinc.com/static/scripts/jquery.js" type="text/javascript">
	</script>
	<script src="http://www.mindfireinc.com/static/scripts/angular.js" type="text/javascript">
	</script>
	<script src="http://www.mindfireinc.com/static/scripts/bootstrap.js" type="text/javascript">
	</script>
	<script src="http://www.mindfireinc.com/static/scripts/ui-bootstrap-tpls.js" type="text/javascript">
	</script>
	<script src="http://www.mindfireinc.com/static/scripts/angular-social-links.js" type="text/javascript">
	</script>
	]]
</head>
<body>
	<div id="topbar">
		<div class="container">
			<p class="pull-right">Contact: (877) 560-3473</p>
		</div>
	</div>
	<div class="clearfix"></div><!-- Static navbar -->
	<div class="navbar navbar-default navbar-static-top" id="navbar" role="navigation">
		<div class="container">
			<a class="navbar-brand" href="/"><img src="http://www.mindfireinc.com/static/images/mindfire_studio_logo.png" width="200px"></a>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1><span class="label label-warning pull-right" style="font-size: .4em">Free eBook</span> <div class="hover">{{RAW SUMMERNOTE(LANDINGPAGE-TOP-TEXT)}}</div></h1><div class="hover">{{RAW SUMMERNOTE(LANDINGPAGE-HERO-IMAGE)}}</div><br>
				<p><div class="hover">{{RAW SUMMERNOTE(LANDINGPAGE-BODY-TEXT)}}</div></p>
			</div>
			<div class="col-md-4">
				<br>
				{{RAW SUMMERNOTE(LANDINGPAGE-FORM)}}
				<!-- <div class="well">
					<form action="/send?a=download" id="rzForm" method="post" name="rzForm" novalidate="">
						<fieldset>
							<p class="lead">Download your eBook:</p>
							<div class="form-group">
								<label>First Name <span style="color:red;">&#42;</span></label> <input class="form-control input-sm" name="firstname" required="" type="text" value=""> 
							</div>
							<div class="form-group">
								<label>Last Name <span style="color:red;">&#42;</span></label> <input class="form-control input-sm" name="lastname" required="" type="text" value=""> 
							</div>
							<div class="form-group">
								<label>Business Email Address <span style="color:red;">&#42;</span></label> <input class="form-control input-sm" name="email" required="" type="text" value=""> 
							</div>
							<div class="form-group">
								<label>Company <span style="color:red;">&#42;</span></label> <input class="form-control input-sm" name="company" required="" type="text"> 
							</div>
							<div class="form-group">
								<label>Phone <span style="color:red;">&#42;</span></label> <input class="form-control input-sm" name="phone" required="" type="text" value="">
							</div>
							
							
							
							<button class="btn btn-lg btn-block btn-warning" type="submit">Download Now!</button>
							<div>
								<p class="rz-required-note" style="text-align: right;"><i>* Indicates a required field.<br>
								Answer all required fields to activate the button.</i></p>
							</div>
						</fieldset>
					</form>
				</div> -->
			</div>
		</div>
	<!--<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="text-muted text-center" style="font-size: 1em">Copyright ©[[copyrightDate]] MindFireInc&reg;. All Rights Reserved. &bullet; <a href="/privacy">Privacy Policy</a> &bullet; <a href="/terms">Terms of Service</a></p>
				</div>
			</div>
		</div>
	</footer>-->
</div>
</body>
</html>